header {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

header:focus-within {
  outline: 2px dashed red;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(20, 20, 20);
}

a:hover {
  color: rgb(63, 63, 59);
  font-weight: 900;
}

@media all and (max-width: 640px) {
  header {
    position: relative;
    order: 1;
    align-self: center;
    margin: 0;
    font-size: 0.8em;
    padding-bottom: 0.3em;
  }
}
