.image-container {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container:hover .meme {
  opacity: 0.3;
}

.image-container:hover .meme-text-container {
  opacity: 1;
}

.meme {
  opacity: 1;
  display: block;
  max-width: 90vw;
  max-height: 66vh;
  border-radius: 10px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.meme-text-container {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  max-height: 100%;
  max-width: 100%;
}

.meme-text {
  margin: 20px;
  font-family: 'Arial black', sans-serif;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 1.2em;
  color: rgb(20, 20, 20);
  text-shadow: 2px 2px rgb(145, 66, 66);
  text-align: center;
}

@media all and (max-width: 640px) {
  .image-container {
    height: 60vh;
  }
}
